
*{
    margin:0;
    border:0;
    background:gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    
}

body{
    border:2px black solid;
}

a{
    color:white;
}

a:hover{
    color:aqua;
}

a:visited{
    color:yellow;
}


main {
    padding-top:265px;
}




#img-link{
    float:right;
   
    box-sizing: border-box;
    width:25%;
    padding-left: 150px;
    padding-top:10px;
}

#info{
    padding-top:10px;
    padding-left:20px;
    padding-bottom:5px;
    padding-right:100px;
    
    box-sizing: border-box;
    width: 30%;
    float:left;
}

#profile{
    border: 5px black dotted;
    box-sizing: border-box;
    text-align: center;
    padding:15px 50px;
    float:left;
    width:45%;
    margin-top: 40px;
}


.box-1{
    float:left;
    box-sizing: border-box;
    border: 5px black dotted;
    width:90%;
    margin:10px;
    padding-left:10px;
    padding-bottom:5px;
}


.box-2{
    float:right;
    box-sizing: border-box;
    border:5px black dotted;
    width:90%;
    margin:10px;
    padding-left:10px;
    padding-bottom:5px;
}


.box-3{
    float:left;
    box-sizing: border-box;
    border:5px black dotted;
    margin:10px;
    padding-left:10px;
    width:45%;
    padding-bottom:5px;
}


.box-4{
    float:left;
    box-sizing: border-box;
    border:5px black dotted;
    margin:10px;
    padding-left:10px;
    width:45%;
    padding-bottom:5px;
}
